<!DOCTYPE html>
<html>
<head>
  <title>MultiplexSystem</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<div id="header">
	<h1>Multiplex Management System</h1>
	</div>
<body>

<%= yield %>

</body>
</html>
