<!DOCTYPE html>
<html>
<head>
  <title>MultiplexSystem</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<div id="header">
	<h1 style="color:Purple">Multiplex Management System</h1>
	</div>

 <body id="movie">
	</div>
	<%= yield %>
 </body>

<div id="footer">
	<h4 style="color:Purple">Filmy land</h4>
	</div>
</html>






